{{append . "moreStyles" "css/dashboard.css"}}
{{set . "title" "Firesize"}}
{{template "header.html" .}}

<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/dashboard">Firesize</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Account</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="/signout">Sign Out</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a href="#">Dashboard</a></li>
          <li><a href="#">Subdomains</a></li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Usage</h1>

        <div class="row placeholders">
          <div id="usage-container">
            <div id="y-axis"></div>
            <div id="usage"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rickshaw/1.4.6/rickshaw.min.js"></script>

  <script>

  var palette = new Rickshaw.Color.Palette({scheme:'spectrum14'});

  var graph = new Rickshaw.Graph({
    element: document.querySelector("#usage"),
    width: 700,
    height: 250,
    series: [{
      name: "usage",
      data: [{ x: 1388563200, y: 75000 }, { x: 1391241600, y: 95000 }, { x: 1393660800, y: 120000 }, { x: 1396335600, y: 135000 }],
      color: palette.color()
    }]
  });

  var xAxis = new Rickshaw.Graph.Axis.Time({ graph: graph });
  var yAxis = new Rickshaw.Graph.Axis.Y({
          graph: graph,
          orientation: 'left',
          tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
          element: document.getElementById('y-axis'),
  });

  graph.render();
  </script>
</body>

{{template "footer.html" .}}
