{{append . "moreStyles" "css/dashboard.css"}}
{{set . "title" "Firesize"}}
{{template "header.html" .}}

<body>
  <div class="container">
    <div class="page-header">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/signin">Sign in</a></li>
      </ul>

      <h1><a href="/">Firesize</a></h1>
    </div>

    {{if .flash.error}}
      <div class="alert alert-danger">{{.flash.error}}</div>
    {{end}}
    {{if .flash.success}}
      <div class="alert alert-success">{{.flash.error}}</div>
    {{end}}

    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <form role="form" method="post" action="{{url "Registrations.Create"}}">
          <h2>Sign up</h2>

          {{with $field := field "account.Email" .}}
            <div class="form-group {{$field.ErrorClass}}">
              <input type="email" name="{{$field.Name}}" value="{{$field.Flash}}" class="form-control" placeholder="Your email" required autofocus>
              <span class="error">{{$field.Error}}</span>
            </div>
          {{end}}
          {{with $field := field "verifyEmail" .}}
            <div class="form-group {{$field.ErrorClass}}">
              <input type="email" name="{{$field.Name}}" value="{{$field.Flash}}" class="form-control" placeholder="Re-enter Email" required>
              <span class="error">{{$field.Error}}</span>
            </div>
          {{end}}
          {{with $field := field "account.Password" .}}
            <div class="form-group {{$field.ErrorClass}}">
              <input type="password" name="{{$field.Name}}" value="{{$field.Flash}}" class="form-control" placeholder="New Password" required>
              <span class="error">{{$field.Error}}</span>
            </div>
          {{end}}
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>

{{template "footer.html" .}}
