/*
 * Firesize jquery plugin
 */

if( typeof jQuery == 'function' ){
  (function($){
    var settings = {
      domain: '{{ .Domain }}'
    };

    $(function(){
      $('img[data-src]').each(function(){
        var data = $(this).data();
        var width = $(this).attr('width');
        var height = $(this).attr('height');

        var args = {
          width: width,
          height: height,
          gravity: data.gravity,
          frame: data.frame
        };

        var url = settings.domain + "/" + btoa(JSON.stringify(args)) + "/" + data.src;
        $(this).attr('src', url)
      });
    });
  })(jQuery);
} else {
  if( typeof console.error == 'function' ) console.error('Firesize plugin requires jQuery' );
}