/*
 * Firesize jquery plugin
 */

;if( typeof jQuery == 'function' ){
  (function($){
    var pluginName = "firesize";

    $.firesize = {
      settings: {
        domain: "{{ .Domain }}"
      }
    };

    $.each(window.__firesize, function(){
      $.firesize.settings[this[0]] = this[1]
    });

    function Firesize(el) {
      this.el = el;
      this.init();
    }

    Firesize.prototype = {
      init: function () {
        var $el = $(this.el);
        var data = $el.data();
        var width = $el.attr('width');
        var height = $el.attr('height');

        var args = {
          width: width,
          height: height,
          gravity: data.gravity,
          frame: data.frame
        };

        $el.attr('src', $.firesize.url(data.src, args))
      }
    };

    $.firesize.url = function(url, options) {
      return $.firesize.settings.domain + "/" + btoa(JSON.stringify(options)) + "/" + url;
    }

    $.fn.firesize = function () {
      this.each(function() {
        if ( !$.data( this, "plugin_" + pluginName ) ) {
          $.data( this, "plugin_" + pluginName, new Firesize(this) );
        }
      });
      return this;
    };

    $("img[data-src]").firesize()
  })(jQuery);
} else {
  if( typeof console.error == 'function' ) console.error('Firesize plugin requires jQuery' );
}